.git
.next
node_modules
out
build
dist-workers
coverage

.env
.env.*
!.env.example
!.env.production.example

.DS_Store
*.pem
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

src/generated/prisma
tsconfig.tsbuildinfo
next-env.d.ts
